config SHIELD_MY4KEY
    bool "My 4-Key Shield"
    default y
    help
      Enables support for the My 4-Key shield.

if SHIELD_MY4KEY
    # Required for Studio preview to work
    select ZMK_STUDIO_KEYMAP_PREVIEW
endif
