/ {
    chosen {
        zmk,physical-layout = &layout_0;
    };

    /* ---- GPIO KEYS ---- */
    keys {
        compatible = "gpio-keys";

        key1: key_1 {
            gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };

        key2: key_2 {
            gpios = <&gpio0 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };

        key3: key_3 {
            gpios = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };

        key4: key_4 {
            gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };

    /* ---- STUDIO PHYSICAL LAYOUT ---- */

    key1_attr: key1_attr {
        compatible = "zmk,key-physical-attrs";
        width = <100>;
        height = <100>;
        x = <0>;
        y = <0>;
        r = <0>;
    };

    key2_attr: key2_attr {
        compatible = "zmk,key-physical-attrs";
        width = <100>;
        height = <100>;
        x = <110>;
        y = <0>;
        r = <0>;
    };

    key3_attr: key3_attr {
        compatible = "zmk,key-physical-attrs";
        width = <100>;
        height = <100>;
        x = <220>;
        y = <0>;
        r = <0>;
    };

    key4_attr: key4_attr {
        compatible = "zmk,key-physical-attrs";
        width = <100>;
        height = <100>;
        x = <330>;
        y = <0>;
        r = <0>;
    };

    physical_layouts {
        compatible = "zmk,physical-layouts";

        layout_0: layout_0 {
            compatible = "zmk,physical-layout";

            keys =
                <&key1_attr>,
                <&key2_attr>,
                <&key3_attr>,
                <&key4_attr>;
        };
    };
};
