/ {
    chosen {
        zmk,physical-layout = &layout_0;
    };

    key_physical_attrs: key_physical_attrs {
        compatible = "zmk,key-physical-attrs";

        width = <100>;
        height = <100>;
        x = <0>;
        y = <0>;
        r = <0>;
    };

    physical_layouts {
        compatible = "zmk,physical-layouts";

        layout_0: layout_0 {
            compatible = "zmk,physical-layout";

            keys =
                <&key_physical_attrs>,
                <&key_physical_attrs>,
                <&key_physical_attrs>,
                <&key_physical_attrs>;
        };
    };
};
